@import url('https://fonts.googleapis.com/css2?family=Asap:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: white;
    padding: 20px;
}

header>h1 {
    color: #24272E;
    text-align: center;
    font-size: 35px;
    font-family: Asap, sans-serif;
    font-weight: bold;
}


body{
    font-family: Asap, sans-serif;
    font-size: 15.5px;
    background-color: #24272E;
    padding-bottom: 0px;
}

.container-newone{
    align-content: center;
    text-align: center;
    padding-right: 0px;
    padding-left: 120px;
}

.btn {
  margin-left: 220px;
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #24272E;
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #24272E;
}



